@font-face {
    font-family: 'love_ya_like_a_sisterregular';
    src: url('fonts/loveyalikeasister.eot');
    src: url('fonts/lloveyalikeasister.eot?#iefix') format('embedded-opentype'),
         url('fonts/loveyalikeasister.woff') format('woff'),
         url('fonts/loveyalikeasister.ttf') format('truetype'),
         url('fonts/loveyalikeasister.svg#love_ya_like_a_sisterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.redwarning {
	color: #c9121a;
	padding-left: 1em;
	padding-right: 1em;
}

#homesub {
	font-family: 'love_ya_like_a_sisterregular';
	color: #c9121a;
}



.btn-custom {
	color: #fff;
  	background-color: #ce0b10;
  	border-color: #ce0b10;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	color: #fff;
  	background-color: #b60a0e;
  	border-color: #9e080c;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  	background-color: #ce0b10;
  	border-color: #ce0b10;
}




.btn-yellow {
	 color: black;
   font-weight: bold;
  	background-color: #ff9933;
  	border-color: #ff9933;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
	color: black;
  	background-color: #ff8c1a;
  	border-color: #ff8000;
}
.btn-yellow.disabled:hover,
.btn-yellow.disabled:focus,
.btn-yellow.disabled:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled]:hover,
.btn-yellow[disabled]:focus,
.btn-yellow[disabled]:active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow:hover,
fieldset[disabled] .btn-yellow:focus,
fieldset[disabled] .btn-yellow:active,
fieldset[disabled] .btn-yellow.active {
  background-color: #ff9933;
  border-color: #ff9933;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 8em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 8em;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer {
  background-color: #f8f8f8;
  padding-top: 1em;
}

.footer ul {
  padding-left: 0;
  list-style-type: none;
}

/* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

      body {
        margin-bottom: 13em;
      }
      .footer {
        height: 13em;
        height: auto;
      }
    }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 960px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

/*-------------------------------------------------- */

#startbox {
	color: #fff;
	border-radius: 3px;
	padding-top: 3em;
	padding-bottom: 1em;
	background: #c9121a;
}

#startbox label {
	font-size: 1.2em;
}

#homesubmit{
	margin-top: 2em;	
}

.HomePageError {
	padding-top: 1em;
	padding-left: 15px;
}


