.redwarning {
	color: #c9121a;
	padding-left: 1em;
	padding-right: 1em;
}

.btn-custom {
	color: #fff;
  	background-color: #ce0b10;
  	border-color: #ce0b10;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
	color: #fff;
  	background-color: #b60a0e;
  	border-color: #9e080c;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  	background-color: #ce0b10;
  	border-color: #ce0b10;
}

.container {
	/*width: 960px;*/
}